@media screen and (min-width:320px) {
  .xiangmubox{
    width:90%;
    margin:30px auto 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .xiangmubox2{
    width:90%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .xiangmubox .xiangmu{
    margin: 20px 0;
  }
  .xiangmubox2 .xiangmu{
    margin: 20px 0;
  }
  .zhaopin-info{
    margin-top: 40px;
    padding:20px;
    border-top: 10px solid #f6001d;
    background-color: #f4f4f4;
  }
  .zhaopin-info table{
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px 50px;
  }

  .zhaopin-info table tr{
    width:90%;
    height: 50px;
    line-height: 50px;
    margin:0 auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    border-bottom:1px solid rgba(0, 0, 0, 0.2);

  }
  .zhaopin-info table tr.header{
    font-size: 18px;
    color:#f6001d;
    font-weight: 100;
    display: table;
  }

}
@media screen and (min-width:768px) {
  .xiangmubox{
    flex-direction: row;
  }
  .xiangmubox2{
    flex-direction: row;
  }
  .xiangmubox .xiangmu{
    width:363px;
  }
  .xiangmubox2 .xiangmu{
    width:350px;
  }
  .xiangmubox .xiangmu:nth-child(2){
    width:338px;
    margin:20px;
  }
}
